<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Все авторы</title>
    <link th:replace="~{blocks :: style}">
</head>
<body>
<div th:replace="~{blocks :: nav}">Navigation</div>
<div>
    <div class="card w-50 m-3">
        <div class="card-header">
            Доступные авторы книг
        </div>
        <div class="card-body">
            <table class="table table-bordered w-auto table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Имя автора</th>
                    <th scope="col">Страна</th>
                </tr>
                </thead>
                <tbody>
                <tr class="align-middle" th:each="author, state : ${authors}">
                    <td th:text="${state.index + 1}">ID</td>
                    <td th:text="${author.name}">NAME</td>
                    <td th:text="${author.country}">Country</td>
                </tr>
                </tbody>
            </table>
            <a th:href="@{/authors/new}" class="btn btn-primary">Добавить автора</a>
        </div>
    </div>
</div>
<link th:replace="~{blocks :: js}">
</body>
</html>