<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charse t="UTF-8">
    <title>Добавление нового жанра</title>
    <link th:replace="~{blocks :: style}">
</head>
<body>
<div class="card mx-auto w-50">
    <h5 class="card-header">Добавление нового автора</h5>
    <div class="card-body">
        <form th:method="POST" th:action="@{/authors}" th:object="${author}" enctype="multipart/form-data">
            <div class="mb-3 w-25">
                <label for="genre_name" class="form-label">Имя автора</label>
                <input type="text" class="form-control" id="genre_name" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="biography" class="form-label">Биография</label>
                <textarea class="form-control" id="biography" rows="3" th:field="*{biography}"></textarea>
            </div>
            <div class="mb-3 w-25">
                <label for="country" class="form-label">Выберите страну автора</label>
                <input type="text" class="form-control" id="country" th:field="*{country.name}" list="countries">
            </div>

            <datalist id="countries">
                <option th:each="country: ${countries}" th:value="${country.name}"></option>
            </datalist>
            <div class="mb-3">
                <label for="pictures" class="form-label">Добавьте файлы</label>
                <input class="form-control" type="file" id="pictures" name="pictures" accept="image/*" multiple>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Добавить жанр">
            </div>
        </form>
    </div>
</div>

<link th:replace="~{blocks :: js}">
</body>
</html>